.buttons {
    display: flex;
    justify-content: center;
    gap: 3vw
}

.like_but,
.delete_but {
    padding: 10px 25px;
    border-radius: 10px;
    background-color: rgb(27, 62, 29);
}


.likesActives {
    background-color: rgb(88, 29, 26);
}

.correction {
    border-radius: 10px;
    background-color: rgb(27, 62, 29);
    color: rgb(72, 160, 76);
    font-size: 16px;
    padding: 10px;
}